name: Build Kernel S9 KSU

on:
  workflow_dispatch:

jobs:
  build:
    # Kita balik ke ubuntu-latest (24.04) supaya GLIBC-nya cocok sama Clang
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Kernel Source
        uses: actions/checkout@v4
        with:
          repository: hurt21-pixel/android_kernel_samsung_universal9810
          fetch-depth: 1

      - name: Setup Build Environment
        run: |
          sudo apt-get update
          # Di Ubuntu 24.04, kita pakai paket yang tersedia saja
          sudo apt-get install -y git-core gnupg flex bison build-essential zip curl zlib1g-dev libncurses-dev x11proto-core-dev libx11-dev libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig bc python3

      - name: Download Clang
        run: |
          mkdir -p $GITHUB_WORKSPACE/clang
          cd $GITHUB_WORKSPACE/clang
          # Pakai Neutron Clang (Antman)
          bash <(curl -s "https://raw.githubusercontent.com/Neutron-Toolchains/antman/main/antman") -S

      - name: Setup KernelSU
        run: |
          # Langsung hajar di root
          curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -

      - name: Configure and Build
        run: |
          export PATH=$GITHUB_WORKSPACE/clang/bin:$PATH
          export ARCH=arm64
          export CROSS_COMPILE=aarch64-linux-android-
          export CROSS_COMPILE_ARM32=arm-linux-androideabi-
          export CC=clang
          
          # Tentukan Config
          CONF=exynos9810_lineageos_defconfig
          
          # Tambahkan Config KSU
          echo "CONFIG_KPROBES=y" >> arch/arm64/configs/$CONF
          echo "CONFIG_HAVE_KPROBES=y" >> arch/arm64/configs/$CONF
          echo "CONFIG_KPROBE_EVENTS=y" >> arch/arm64/configs/$CONF
          echo "CONFIG_KSU=y" >> arch/arm64/configs/$CONF
          
          # Matikan fitur penghambat
          sed -i 's/CONFIG_RKP_CFP=y/CONFIG_RKP_CFP=n/g' arch/arm64/configs/$CONF
          sed -i 's/CONFIG_KNOX_KAP=y/CONFIG_KNOX_KAP=n/g' arch/arm64/configs/$CONF
          
          # Proses Masak
          make O=out $CONF
          make -j$(nproc --all) O=out \
            CC=clang \
            LD=ld.lld \
            AR=llvm-ar \
            NM=llvm-nm \
            OBJCOPY=llvm-objcopy \
            OBJDUMP=llvm-objdump \
            STRIP=llvm-strip

      - name: Pack Kernel
        run: |
          git clone --depth=1 https://github.com/osm0sis/AnyKernel3.git AnyKernel3
          if [ -f out/arch/arm64/boot/Image.gz ]; then
            cp out/arch/arm64/boot/Image.gz AnyKernel3/
            cd AnyKernel3
            zip -r9 ../Kernel-S9-KSU-Final.zip *
          else
            echo "Aduuuh Boss, Image.gz gak muncul. Ada error pas compile tadi!" && exit 1
          fi

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-S9-KSU-Exynos9810
          path: Kernel-S9-KSU-Final.zip
          
